@model WebCalc.Models.CalcModel
@{ 
    var operations = new SelectList(Model.Operations);

}


@using (Html.BeginForm("Exec", "Calculate"))
{
    <div class="form-group">
        <label for="operation">Операция</label>
        @Html.DropDownList("operation", operations, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="operation">Входные данные</label>
        @Html.TextBox("args", null, new { @class = "form-control" })
    </div>

}

<button class="btn btn-success" onclick="CalcAjax();">Вычислить</button>

<div id="result">
</div>

<script type="text/javascript">
    function CalcAjax() {

        $.ajax({
            url: "@(Url.Action("ExecAjax", "Calc"))",
            method: "POST",
            //dataType: "json",
            data: $("form").serialize(),
            success: function (result) { $("#result").html(result); }
        });
    }  
    //    })
    //        .success (function (result) {
    //            $("#result").html(result);                  
    //});
</script>