@model IEnumerable<WebCalc.Models.OperationResultViewModel>

<table class="table">
    <tr>
        <th colspan="10">
            История
        </th>
    </tr>

    @foreach (var item in Model)
    {
        @Html.DisplayFor(m => item)
    }

</table>